@use "variables" as *;
@use "form" as *;
@use "nav" as *;

body {
    background-color: $bg-page;
    padding: 0;
    margin: 0;
    .container {
        background-color: $bg-container;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: $spacing 40px;
        width: fit-content;
        margin: $spacing auto;
        border-radius: 8px;
        width: min(748px, 80%);
        p {
            font-size: 1.3rem;
        }
    }

    .flash {
        position: fixed;
        top: 0;
        left: 0;
        width: fit-content;
        padding: $spacing;
        display: flex;
        align-items: center;
        margin: 0;
        font-weight: bold;
        &.flash-success {
            background-color: #d4edda;
            color: green;
        }
        &.flash-error {
            background-color: #f8d7da;
            color: red;
        }
    }

    .techno-stack .techno-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: $spacing;
        margin: 40px;
        justify-content: center;
        li {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            a {
                border-radius: 8px;
                padding: 8px 16px;
                color: #fff;
                font-weight: bold;
                text-decoration: none;
                background-color: $main-color;
                border: 2px inset $main-color;
                transition:
                    background-color 0.3s,
                    color 0.3s;
                &:hover {
                    background-color: #fff;
                    color: $main-color;
                }
            }
        }
    }

    .logo-wrapper {
        display: flex;
        justify-content: center;
        gap: $spacing;
        margin: $spacing auto;
        img {
            width: 200px;
            height: auto;
            border-radius: 16px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }
}
